.card:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.8;
}

.img-wrapper {
    overflow: hidden;
    position: relative;
}

.btn-warning {
    color: #212529;
    background-color: #ffe227;
    border-color: #ffe227;
}

.btn-warning:hover {
    color: #ffe227;
    background-color: #212529;
    border-color: #ffe227;
}

.btn-warning:focus,
.btn-warning.focus {
    color: #212529;
    background-color: #ffe227;
    border-color: #ffe227;
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-warning.disabled,
.btn-warning:disabled {
    color: #212529;
    background-color: #ffe227;
    border-color: #ffe227;
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show>.btn-warning.dropdown-toggle {
    color: #212529;
    background-color: #ffe227;
    border-color: #ffe227;
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.member-icon {
    position: absolute;
    bottom: -40%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

.img-wrapper:hover .member-icon {
    bottom: 0;
}

.animate {
    transition: all 0.5s ease-in-out;
}

.price {
    border: 3px solid #D4AC0D;
    border-radius: 5px;
    background-color: #212529;
    color: #D4AC0D;
    padding-right: 0px;
    height: 35px;
    width: 232px;
    padding: 2px;
    padding-bottom: 2px;
}

.borderCard {
    /* margin-right: 12px;
    margin-bottom: 15px; */
}