<div class="body">
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="card shadow" style="width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-title title">Login</h2>
                        <form (submit)="onSubmit(form)" #form="ngForm">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" required class="form-control" #email=ngModel [(ngModel)]="user.Email" name="email" placeholder="Please enter email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [class.is-valid]="email.valid" [class.is-invalid]="!email.valid&&email.touched">
                                <div class="alert alert-danger" *ngIf="email.touched&&!email.valid">Please enter email
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" required class="form-control" #password=ngModel [(ngModel)]="user.Password" name="password" placeholder="Please enter password" [class.is-valid]="password.valid" [class.is-invalid]="!password.valid&&password.touched">
                                <div class="alert alert-danger" *ngIf="password.touched&&!password.valid">Please enter password
                                </div>
                            </div>
                            <br>

                            <div class="form-group d-flex justify-content-center">
                                <button type="submit" class="btn btn-warning btn-block" [disabled]="!form.valid" style="width: 100%;border-radius: 20px;">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>