/* .body {
    background-image: url("/assets/Add/Add.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    height: 598px;
} */

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: black;
    /*rgba(0, 0, 0, 0.03); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color: #ffe227;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 2px;
}

.photo-control {
    min-height: 300px;
    vertical-align: middle;
    text-align: center;
    border: 1px dashed black;
    margin: 5px;
}

.btn-group>label [ng-reflect-btn-radio] {
    border-radius: 44px;
    padding: 0 15px;
    line-height: 30px;
}

.RadioBtn {
    border-radius: 44px;
    padding: 0 15px;
    line-height: 30px;
}


/*tabset css*/

.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    min-height: 600px;
    background-color: white;
}

.nav-tabs>li.open,
.member-tabset>.nav-tabs>li:hover {
    border-bottom: 4px solid #e1e2eb;
}

.member-tabset>.nav-tabs>li.open>a,
.member-tabset>.nav-tabs>li:hover>a {
    border: 0;
    background: none !important;
    color: #333333;
}

.member-tabset>.nav-tabs>li.open>a>i,
.member-tabset>.nav-tabs>li:hover>a>i {
    color: #a6a6a6;
}

.member-tabset>.nav-tabs>li.open .dropdown-menu,
.member-tabset>.nav-tabs>li:hover .dropdown-menu {
    margin-top: 0px;
}

.member-tabset>.nav-tabs>li.active {
    border-bottom: 4px solid #0069d9;
    position: relative;
}

.member-tabset>.nav-tabs>li.active>a {
    border: 0 !important;
    color: #333333;
}

.member-tabset>.nav-tabs>li.active>a>i {
    color: #404040;
}

.member-tabset>.tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}