<div class="row">
    <div class="shadow pt-2 pb-2 col-sm-3 borderCard">
        <div class="card">
            <img [src]="PCImage1" class="card-img-top Image" alt="Loading Image...">
            <div class="card-body">
                <h1 class="card-title">{{Property.Name}}</h1>
                <h2>{{Property.Type}}</h2>
                <h3>{{Property.Price}}</h3>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
</div>

<!-- style="width: 18rem;" -->