<app-slider></app-slider>
<br>
<br>
<br>
<div class="container">
    <div class="col d-flex justify-content-center">
        <h4 class="AboutUs">About Us</h4>

    </div>
    <div class="col d-flex justify-content-center">
        <span style="font-weight: bold;">We are a real estate investment company that 
            works to help others rent or buy any real estate in different 
            areas at low prices.<br>
           
        </span>
    </div>
    <div class="col d-flex justify-content-center">
        <span style="font-weight: bold;">
            We help you to choose the best homes that suit you at the best price and in the best places.
        </span>
    </div>
    <div class="col d-flex justify-content-center">
        <span style="font-weight: bold;">
            We guarantee that you will enjoy a calm atmosphere, privacy and enjoy the clean atmosphere.
        </span>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- <div class="media m 5">
        <img class=" d flex mr 3 align self center " [src]="HomeImage1" style="width:400px;height:250px">
        <div class="media body">
            <h4>media</h4> 
            <p class="text-justify"> Pellentesque habitant.</p>
        </div>
    </div> -->

    <div style="text-align: center;">
        <h3 style="color:black;">Explore All Houses in Different Compounds</h3>
        <img [src]="HomeImage2" class="responsive" [routerLink]="['/PropertyList']" class="Image">
    </div>
    <br>
    <br>


    <!-- Up To Top Button -->
    <!-- <ng-go-top-button [animate]="true" [speed]="1000" [acceleration]="1000" [scrollDistance]="1000" [classNames]="'custom-class'" [styles]="{
                    'border-radius': '20px 20px 20px 20px',
                    'right': '5px',
                    'color': 'green',
                    'border': '5px solid',
                    'line-height': '20px'
                 }">
    <i class='fa fa-arrow-up'></i>
</ng-go-top-button> -->