.AboutUs {
    border-radius: 10px;
    border: 5px solid #ffe227;
    background-color: black;
    color: #ffe227;
    width: 130px;
    padding: 2px;
    text-align: center;
}

.responsive {
    /* width: 100%;
    height: auto; */
    max-width: 100%;
    height: auto;
    /* width: 100%;
    max-width: 400px;
    height: auto; */
}

.Image {
    width: 400px;
    height: 250px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}