.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: black;
    /*rgba(0, 0, 0, 0.03); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color: #ffe227;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 2px;
}

.btn-group>label [ng-reflect-btn-radio] {
    border-radius: 44px;
    padding: 0 15px;
    line-height: 30px;
}

.RadioBtn {
    border-radius: 44px;
    padding: 0 15px;
    line-height: 30px;
}